<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <!-- <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a> building things for the web with some awesome people. I recently graduated from
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.
    </p> -->

    <p>
      I'm a computer science graduate who is extremely passionate about what I do.
      I love making applications that are user-friendly and at the same time attractive & creative with the design. I love full stack development, it excites me the most. Combining my technical knowledge with design is what I enjoy the most. From designing the user experience to scaling of the application.
    </p>
    <p>
      Handling scalability, microservices and user experience designs are what I'm into now-a-days.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably sketching, reading books or articles.
    </p>

    {% include employment-status.html %}
  </div>
</section>
